<div class="d-flex justify-content-center">
    <div class="mt-5">
      <div class="row">

        <div class="col-lg-3">
          <img  class="img-thumbnail" src= {{car.image}}/>
        </div>

        <div class="col-lg-3">
          <h6> Бренд: {{car.brandName}}</h6>
          <h6> Модель: {{car.modelName}}</h6>
          <h6> Год: {{car.year}}</h6>
          <h6>Тип топлива: {{car.fuel}}</h6>
          <h6>Тип кузова: {{car.carBody}}</h6>
          <h6>Тип привода: {{car.driveUnit}}</h6>
          <div class="mt-5">
            <h6>Начало аукциона: {{car.startDate | date:'medium'}}</h6>
          <h6>Конец аукциона: {{car.endDate | date:'medium'}}</h6>
          </div>
        </div>

        <div class="col-lg-3">
          <h6>Минимальный шаг: {{car.minimalStep}}</h6>
          <h6>Стартовая цена: {{car.startingPrice}}</h6>
          <h6>Текущая цена: {{car.currentCost}}</h6>
          <h6>Цена выкупа: {{car.redemptionPrice}}</h6>
        </div>

          

        <div class="d-flex justify-content-left mt-5 col-lg-3">
          <div>
            <button class="btn btn-primary" (click)="openModalDelete()">Удалить</button>
          </div>
        </div>
        
     </div>
   </div>
</div>
