        <div class="d-flex justify-content-center mt-3">
            <div>
                <h5>Форма добавления лота</h5>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <input type="number" class="form-control" [(ngModel)]="modelForCreatingLot.BrandId"
                    placeholder="Бренд">
                </div>
                <div class="col-lg-6">
                    <input type="number" class="form-control" [(ngModel)]="modelForCreatingLot.ModelId"
                    placeholder="Модель">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <input type="number" class="form-control"  [(ngModel)]="modelForCreatingLot.Year"
                    placeholder="Год">
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" [(ngModel)]="modelForCreatingLot.ImageUrl"
                    placeholder="Картинка" required>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <ng-select class="form-control"
                    [(ngModel)]="modelForCreatingLot.Fuel" 
                    placeholder="Топливо"
                    >
                        <ng-option *ngFor="let car of fuel | keyvalue" [value]="car.key">{{car.value}}</ng-option>
                     </ng-select>
                </div>
                <div class="col-lg-4">
                      <ng-select class="form-control" 
                      [(ngModel)]="modelForCreatingLot.CarBody"
                      placeholder="Кузов"
                      name="modelForCreatingLot.CarBody">
                        <ng-option *ngFor="let car of carBody | keyvalue" [value]="car.key">{{car.value}}</ng-option>
                     </ng-select>
                </div>
                <div class="col-lg-4">
                    <ng-select class="form-control" 
                    [(ngModel)]="modelForCreatingLot.DriveUnit" 
                    placeholder="Привод"
                    name="modelForCreatingLot.DriveUnit">
                        <ng-option *ngFor="let car of driveUnit | keyvalue" [value]="car.key">{{car.value}}</ng-option>
                     </ng-select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control" [(ngModel)]="modelForCreatingLot.StartingPrice"
                    placeholder="Стартовая цена">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" [(ngModel)]="modelForCreatingLot.MinimalStep"
                    placeholder="Минимальный шаг">
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" [(ngModel)]="modelForCreatingLot.RedemptionPrice"
                    placeholder="Цена выкупа">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" (click) = addCar(modelForCreatingLot)>
                Добавить
            </button>
        </div>
