<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-success" routerLink = "/myCars/addCar">Добавить лот</button>
</div>
<div>
  <div class="d-flex justify-content-center mt-3">
    <div class="row">
      <div class="col-lg-1 mr-5">
        <button class="btn btn-outline-primary" (click) = "allClick()">Все</button>
      </div>
      <div class="col-lg-3 mr-5">
        <button class="btn btn-outline-primary">В ожиданиии</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-outline-primary">Активные</button>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-outline-primary">Отклоненные</button>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-outline-primary">Закрытые</button>
      </div>
    </div>
  </div>
  
</div>
<div class="mt-5" *ngFor="let data of carsList">
    <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img  class="img-thumbnail" src= {{data.imageUrl}}/>
          </div>
          <div class="col-lg-3">
            <h6> Бренд: {{data.brandName}}</h6>
            <h6> Модель: {{data.modelName}}</h6>
            <h6> Год: {{data.year}}</h6>
            <h6>Тип топлива: {{data.fuel}}</h6>
            <h6>Тип кузова: {{data.carBody}}</h6>
            <h6>Тип привода: {{data.driveUnit}}</h6>
          </div> 
        </div>
      </div>
</div>